<h1>Foreign Exchange Explorer</h1>
<section>
  <p>The FX Explorer will load momentarily.</p>
  <p>Date: This will use a datepicker to select.</p>
  <p>Amount: This will use a number to select how much to exchange.</p>
  <p>From: This will use a select input to choose the base currency.</p>
  <p>To: This will use a select input to choose the counter currency.</p>
  <p>Result: "On November 26th, 2018, £100.00 GBP was worth $128.48 USD."</p>
  <p>Graph: This will use D3 to draw a graph of the available data for the selected currencies.</p>
</section>
