$text-colour:      #666;
$white:            #fff;
$primary-colour:   #156a0b;
$accent-colour:    #e9ebe0;
$secondary-colour: #c1d1bb;

$no-margin: 0;
$small-margin: 10px;

$a: '\a';
$blank: ' ';

body {
  color: $text-colour;
  display: flex;
  font-family: 'Merriweather', serif;
  justify-content: center;
  margin: $no-margin;
}

:focus {
  border: 0;
  box-shadow: none;
  outline: none;
}

button {
  width: 100%;
}

button,
.button {
  background: $white;
  border: 1px solid $primary-colour;
  color: $primary-colour;
  font-size: 1em;
  padding: 5px;
  text-align: center;

  &:focus {
    border: 1px solid $primary-colour;
  }

  &:hover {
    background: $secondary-colour;
    cursor: pointer;
  }

  &:disabled,
  &[disabled] {
    background: $white;
    border: 1px solid $accent-colour;
    color: $accent-colour;
    cursor: default;
  }
}

input {
  border: 1px solid $secondary-colour;
  font-size: 1em;
  padding: 5px;
  width: 100%;

  &:focus {
    border: 1px solid $primary-colour;
    box-shadow: none;
    outline: none;
  }
}

select {
  color: $primary-colour;
  cursor: pointer;
  font-size: 1em;
  width: 100%;

  &:focus {
    border: 1px solid $primary-colour;
  }
}

.loading-bar {
  background-color: $secondary-colour;
  height: 0;
}

.conditional-line-break {
  ::after {
    content: $a;
    white-space: pre;
  }
}

section {
  border: 2px solid $accent-colour;
  border-top: 0;
}

.app-wrapper {
  margin: $small-margin;
  max-width: 600px;
  min-width: 400px;
}

.heading {
  background: $primary-colour;
  border: 2px solid $primary-colour;
  color: $accent-colour;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;

  .DayPicker {
    display: flex;
    justify-content: center;
  }

  .DayPicker-wrapper {
    max-width: 300px;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: $primary-colour;

    &:hover {
      background-color: $primary-colour;
    }
  }

  .DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: $secondary-colour;
  }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  height: 290px;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 6px;

  .label {
    font-size: 1.15em;
    font-weight: 500;
    padding-top: 10px;
  }

  .amount-input {
    input {
      color: $primary-colour;
      margin-top: 10px;
      width: 96%;
    }
  }
}

.results-wrapper {
  padding: 20px;

  .results {
    font-size: 1.2em;
    line-height: 2em;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .heading  {
    h1 {
      font-size: 1.6em;
    }
  }

  .conditional-line-break {
    ::after {
      content: $blank;
      white-space: normal;
    }
  }

  .form-wrapper {
    flex-direction: column;
  }

  .inputs-wrapper {
    padding: 20px;
    padding-top: 0;
  }
}
